# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Logs
Logs/*.log

# Temporary processing
Temp/

# Input / Output videos
Input/*
Output/*

# Keep folder structure
!Input/.gitkeep
!Output/.gitkeep
!Temp/.gitkeep

# Models
Models/*.pth
Models/*.onnx

# Bundled external tools
modules/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store